<html ng-app="app" xmlns:th="https://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title th:text="#{title.home}"></title>
    <style>
        * {
            box-sizing: border-box
        }

        /* Slideshow container */
        .slideshow-container {
            max-width: 300px;
            position: relative;
            margin-left: 15px;

        }

        /* Hide the images by default */
        .mySlides {
            display: none;
        }

        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 16px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Caption text */
        .text {
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
            background-color: #717171;
        }

        /* Fading animation */
        .fade {
            animation: assetAnim 2s 1 forwards;
            animation-duration: 1.5s;
        }

        @keyframes assetAnim {
            from {
                opacity: 0.4
            }
            to {
                opacity: 1
            }
        }
    </style>
</head>


<body>


<header th:insert="header.html::header"></header>
<div style="background-color: deepskyblue;min-height: 100%">
    <div class="container px-4" style="min-height: 700px;background-color: #fff;
    border-bottom-right-radius: 25px;
        border-bottom-left-radius:25px ">
        <form th:action="@{/search}">
            <div style="min-height: 50px" ng-controller="cityParserCtrl">
                <div class="container px-4 row">
                    <div class="col" style="max-width: 240px">
                        <div style="min-height: 24px"></div>
                        <div class="form-floating my-3">
                            <input class="form-control"
                                   ng-model="cityname"
                                   ng-change="changeOptions()"
                                   list="datalistOptions" id="city" name="city"
                                   th:placeholder="#{title.city}">
                            <datalist id="datalistOptions">
                                <option ng-repeat="city in cityOptions" value="{{city}}" name="{{city}}"
                                ></option>
                            </datalist>
                            <label for="city" class="form-label" th:text="#{title.city}"></label>
                        </div>
                    </div>
                    <div class="col" style="max-width: 240px">
                        <div style="text-align: center" th:text="#{title.cost}"></div>
                        <div class="row">
                            <div class='col'>
                                <div class="form-floating my-3">
                                    <input type="number" class="form-control" id="minCost" name="mincost"
                                           th:placeholder="#{title.cost}+' ('+#{title.uah}+')'">
                                    <label for="minCost" class="form-label"
                                           th:text="#{title.from}+' ('+#{title.uah}+')'"></label>
                                </div>
                            </div>
                            <div class='col'>
                                <!--                            <div style="min-height: 35px"></div>-->
                                <div class="form-floating my-3">
                                    <input type="number" class="form-control" id="maxCost" name="maxcost"
                                           th:placeholder="#{title.cost}+' ('+#{title.uah}+')'">
                                    <label for="maxCost" class="form-label"
                                           th:text="#{title.to}+' ('+#{title.uah}+')'"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="max-width: 240px">
                        <div style="text-align: center" th:text="#{title.roomNum}"></div>
                        <div class="row">
                            <div class='col'>
                                <div class="form-floating my-3">
                                    <input type="number" class="form-control" id="minrooms" name="minrooms"
                                           th:placeholder="#{title.cost}+' ('+#{title.uah}+')'">
                                    <label for="minrooms" class="form-label" th:text="#{title.from}"></label>
                                </div>
                            </div>
                            <!--                        <div style="min-height: 35px"></div>-->
                            <div class='col'>
                                <div class="form-floating my-3">
                                    <input type="number" class="form-control" id="maxrooms" name="maxrooms"
                                           th:placeholder="#{title.cost}+' ('+#{title.uah}+')'">
                                    <label for="maxrooms" class="form-label" th:text="#{title.to}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="max-width: 240px">
                        <div style="text-align: center" th:text="#{title.area}"></div>
                        <div class="row">
                            <div class='col'>
                                <div class="form-floating my-3">
                                    <input type="number" class="form-control" id="minarea" name="minarea"
                                           th:placeholder="#{title.cost}+' ('+#{title.uah}+')'">
                                    <label for="minarea" class="form-label"
                                           th:text="#{title.from}+' (&#x33A1;)'"></label>
                                </div>
                            </div>
                            <!--                        <div style="min-height: 35px"></div>-->
                            <div class="col">
                                <div class="form-floating my-3">
                                    <input type="number" class="form-control" id="maxarea" name="maxarea"
                                           th:placeholder="#{title.cost}+' (&#x33A1;)'">
                                    <label for="maxarea" class="form-label" th:text="#{title.to}+' (&#x33A1;)'"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" style="max-width: 240px">
                        <div style="min-height: 24px"></div>
                        <div class="form-floating my-3">
                            <select id="typeInput" required name="type" class="form-control"
                                    placeholder="City">
                                <option value="STUDIO" th:text="#{title.studio}"></option>
                                <option value="SEPARATE" th:text="#{title.separate}"></option>
                            </select>
                            <label for="typeInput" th:text="#{title.appType}"></label>
                        </div>
                    </div>
                    <input hidden th:value="${status}" name="status">
                    <div style="max-width: 100px;border-radius: 5px" class="col">
                        <div style="min-height: 50px"></div>
                    <button  style="border-radius: 5px;min-width: 38px;min-height: 38px;max-height: 38;max-width: 38px" id="searchButton"  type="submit" >
                        <svg for="searchButton" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>


                    </div>
                </div>
            </div>


        </form>
        <div
                th:each="announce :${announces}" class="row gx-5">
            <div style="text-align: center"><strong
                    th:if="${announce.status.toString().equals('RENT')}"
                    th:text="#{title.status_renting}"></strong>
                <strong th:if="${announce.status.toString().equals('SELL')}"
                        th:text="#{title.status_selling}"></strong></div>
            <div class="col">
                <div class="slideshow-container" style="width: 300px;height: 300px">
                    <div style="border-radius: 10px;
            border: darkslategray solid;">
                        <div class="numbertext"></div>
                        <a th:href="'/announce/'+${announce.id}"><img
                                th:src="'/images/'+${announce.photo.get(0)}"
                                style="margin-left: 0px;width:295px;border-radius: 7px;">
                        </a>
                    </div>
                </div>

                <br>
                <!--                <div style="text-align:center;width: 300px;max-height: 300px">-->
                <!--                <span th:each=" i : ${#numbers.sequence(1,announces.get(announce).photo.size())}"  class="dot"-->
                <!--                      th:onclick="'currentSlide('+${i}+')'"></span>-->
                <!--                </div>-->
            </div>
            <div class="col">
                <div class="row gx-5">
                    <div class="col">
                        <div th:if="${#locale.toString().equals('uk')}">
                            <span th:text="#{title.city} +': ' "></span>
                            <i th:text="${announce.residence.city.ukName}"></i>
                        </div>
                        <div th:if="${!#locale.toString().equals('uk')}">
                            <span th:text="#{title.city} +': ' "></span>
                            <i th:text="${announce.residence.city.enName}"></i>
                        </div>

                        <!--                <div th:text="#{title.re}">Region: Kyiv</div>-->
                        <div th:text="#{title.street}+': '+${announce.residence.street}"
                        ><span th:text="#{title.street}+': '"></span>
                            <i th:text="${announce.residence.street}"></i>
                        </div>

                        <div th:text="#{title.houseNum}+': '+${announce.residence.houseNumber}"
                        >House: 15A
                        </div>
                        <div th:text="#{title.floor}+': '+${announce.residence.floor}">
                            Floor: 4
                        </div>
                        <div th:text="#{title.totalFloors}+': '+${announce.residence.totalFloors}">
                            MaxFloor:5
                        </div>
                    </div>
                    <div class="col"
                    >
                        <div th:text="#{title.area}+': '+${announce.residence.fullArea}">
                        </div>
                        <div th:if="${announce.appType!=null}" th:text="#{title.appType}+': '+${announce.appType}">
                        </div>
                        <div th:if="${announce.appType==null}" th:text="#{title.appType}+': SEPARETE'">
                        </div>
                        <div>
                            <span th:text="#{title.state}+': '"></span>
                            <i th:if="${announce.state.ordinal()==0}"
                               th:text="#{title.state_good}"></i>
                            <i th:if="${announce.state.ordinal()==1}"
                               th:text="#{title.state_eurorenovation}"></i>
                        </div>
                    </div>
                </div>
                <div th:if="${announce.aStatus.ordinal()==1}" style="margin-top: 60px;text-align: center">
                    <button class="btn btn-secondary" onclick="showPhone()" th:text="#{but.revealPhone}"></button>
                    <div style="text-align: center">
                        <div class="fade" style="margin-top: 50px;background-color: #717171;width: 200px;
                    height: 40px;border-radius: 5px;
                    visibility: hidden;text-align: center" id='phone'
                             th:text="${announce.owner.phone}+', '+${announce.owner.firstName}">
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <script>
            app = angular.module('app', [])
            app.controller("cityParserCtrl", function ($scope, $http) {

                $scope.findCities = function (name) {
                    let citiesArray = [];
                    $http.get("http://localhost:8080/cities?name=" + name).then(function (response) {
                        citiesArray = response.data;
                        console.log(citiesArray)
                        $scope.cityOptions = citiesArray;
                    }, function (error) {
                        alert(error.message)
                    });
                }
                $scope.cityname = '';
                $scope.cityOptions = [];
                $scope.changeOptions = function () {
                    console.log($scope.cityname)
                    $scope.findCities($scope.cityname);
                }

            });


            const phone = document.getElementById('phone');

            function showPhone() {
                console.log(phone.style.visibility)
                phone.style.visibility = 'visible'
            }


        </script>
    </div>
</div>
</body>
</html>
